<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786247972605-4um648ni2n5o4k0a4uq42dmfk0udc65c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786247972605-4um648ni2n5o4k0a4uq42dmfk0udc65c</string>
	<key>API_KEY</key>
	<string>AIzaSyCsnnl8PYEIimOuZwMaarX8G1X31QpTU7U</string>
	<key>GCM_SENDER_ID</key>
	<string>786247972605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lmsParent</string>
	<key>PROJECT_ID</key>
	<string>lmsapp-5ab03</string>
	<key>STORAGE_BUCKET</key>
	<string>lmsapp-5ab03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786247972605:ios:a9c5bd005bf74aa1857094</string>
</dict>
</plist>